<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--<add key="Interval" value="1200000"/>-->
		<add key="Interval" value="10000" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Kw.WinAPI" publicKeyToken="0368a69deeef33dd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.1" newVersion="1.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>