<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <!-- the source folder  -->
    <add key="localFolder" value="C:\wcms" />

    <!-- the the destination folder -->
    <add key="remoteFolder" value="\\wwwmaster\inetpub\wwwroot\wcms" />

    <!-- the remote domain where the destination folder located -->
    <add key="remoteDomain" value="remoteDomain" />

    <!-- To access the remote domain and folder, the user has to be authenticated. 
         Provode user name and password here. 
         Make sure the user is a domain user, not local user.  
    -->
    <add key="userName" value="remoteDomain\userId" />
    <!-- the password will be encrypted on first time running-->
    <add key="Password" value="userPassword" />    
  </appSettings>
</configuration>