<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="postoffice" value="U:\cloud\personal\postoffice\thunderbird\"/>
		<add key="printing" value="File"/>
		<add key="printing_filename" value="parent.unlock.log"/>
		<add key="printing_file_path" value=".\"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
