<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<!-- Параметры службы. -->
	<add key="service_name" value="Andrique.Utils.FileSync" />
	<add key="service_display_name" value="File Sync Service" />
	<add key="service_description" value="Synchronizes two folders." />
	<!-- Параметры вывода. -->
	<add key="printing" value="Console, File" />
	<add key="printing_filename" value="Andrique.Utils.FileSync.log" />
	<add key="printing_file_path" value=".\" />
	<!-- Параметры синхронизации. -->
	<!--<add key="SourceRoot" value="U:\cloud"/>-->
	<add key="SourceRoot" value="S:\source"/>
	<add key="TargetRoot" value="S:\target"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
